<div class="grid-container">
    <div class="grid-item center"> 

        <h3>Download Electron App</h3>
        <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4"> 
            <button class="btn btn-primary btn-lg btn-block" (click)='download()'><i class="fa fa-download"></i> Download</button>
        </div>
        <h6> oppure </h6> 
        <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4"> 
            <a href="myapp://"> <button class="btn btn-secondary btn-lg btn-block">Apri applicazione desktop</button> </a>
        </div>
    </div>
    
    <div class="grid-item center"> 

        <h3>Crea un nuovo account</h3>

        <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
            <a href="/signin" > <button id="signinButton" class="btn btn-success btn-lg btn-block">Crea nuovo account</button> </a>
        </div>
        <a id="loginButton" href='/login'> <h6>Hai già un account? Effettua il login.</h6> </a>

    </div>
    
  </div>

