<button hidden id="checkCredentialButton" type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button>


    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content text-center">
              <!--Header-->
              <div class="modal-header d-flex justify-content-center">
                <p class="heading">Aggiornamento credenziali</p>
              </div>
        
              <!--Body-->
              <div class="modal-body">
        
                <i class="fa fa-key fa-4x" aria-hidden="true"></i>
        
                <p>Le tue credenziali hanno raggiunto la durata massima di 180 giorni.</p>
                <p>Vuoi aggiornare le tue credenziali per continuare ad utilizzare i nostri servizi?</p>

        
              </div>
        
              <!--Footer-->
              <div class="modal-footer flex-center">
                <a class="btn btn-success" (click)="updateCredentials()">Aggiorna credenziali</a>
                <a type="button" class="btn btn-outline-danger waves-effect" (click)="deleteCredentials()">Voglio eliminare il mio account</a>
              </div>
            </div>
            <!--/.Content-->
          </div>
    </div>


    <app-popup-updated-credentials></app-popup-updated-credentials>
