/*Login container*/
.loginBody{
    padding: 5em;
    background: transparent;
    color: black;
    font-weight: bold;
}

/*Div per la gestione del logo + logo stesso*/
#divLogo{
    text-align: center;
    width: 100%;
    overflow: hidden;
    background: transparent;
}

#logo{
    height: 150px;
    width: 120px;
    text-align: center;
    background: transparent;
}
/*Fine div per la gestione del logo + logo stesso*/

/* Label contenente la stringa "Login" */
#labelLogin{
    text-align: center;
    background: transparent;
}

