<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <!-- Button che apre la sidebar -->
    <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

      <!-- Menu items -->
      <ul class="navbar-nav">

        <!-- Homepage -->

        <li class="nav-item"><a href="./signin" class="nav-link font-weight-bold text-uppercase">SignIn </a></li>

        <li class="nav-item"><a href="./signin-algorand/" class="nav-link font-weight-bold text-uppercase">SignIn Algorand</a></li>

        <li class="nav-item"><a href="./about" class="nav-link font-weight-bold text-uppercase">About</a></li>

        <li class="nav-item"><a href="./download" class="nav-link font-weight-bold text-uppercase">Download</a></li>

      </ul>
    </div>
    <!-- CTA -->

  </div>

</nav>
<!--/.Navbar-->


 