<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px; background-color: #93e2bb;">
            <div class="card-body p-4 text-black">
              <div>
                <h6 class="mb-4">{{this.mainService.user.addr}}</h6>
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <p class="small mb-0"><i class="far fa-clock me-2"></i>my wallet</p>
                  <p class="fw-bold mb-0">{{this.mainService.user.amount}} Algo</p>
                </div>
              </div>
              <div class="d-flex align-items-center mb-4">
                <div class="flex-shrink-0">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                    alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                    style="width: 70px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex flex-row align-items-center mb-2">
                    <p class="mb-0 me-2">{{this.mainService.user.username}}</p>
                    <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #1B7B2C;">
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                    </ul>
                  </div>
              </div>
              </div>
            
              <div>
                     
        
                <form class="px-md-2" #formReference="ngForm" (submit)="createTransaction(formReference)">
    
                <!-- <div class="form-outline mb-4">
                    <input type="text" id="username" name="username" [ngModel] placeholder="username" class="form-control"/>
                    <label class="form-label"></label>
                  </div>
              -->
                
                  <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Create transaction</button>
                  </div>
                </form>
    
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>