

<div class="container">
  <div class="main-body">
  
      
  
        <div class="row gutters-sm">
          <div class="col-md-4 mb-2">
       
              
            
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="130">
                 
                </div>
              </div>
            </div>
             
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{this.mainService.user.username}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{this.mainService.user.addr}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Amount</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{this.mainService.user.amount}}
                  </div>
                </div>
                  
              </div>
            </div>

             

          </div>
        </div>


        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-body">
              
               
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Attività</h6>
                </div>
              </div>
             
              <div class="row">
                 
                  <div class="col-sm-4">
                    <span class="info-text">Salva i tuoi dati personali utilizzando questa funzionalità.</span>
                    <hr>
                    <div class="d-grid mx-auto "> 
                      <button type="submit" class="btn btn-primary" (click)="popupUploadData()">Salva miei dati</button>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <span class="info-text">Salva i tuoi dati documenti utilizzando questa funzionalità.</span>
                    <hr>
                    <div class="d-grid mx-auto "> 
                      <button type="submit" class="btn btn-primary" (click)="popupUploadDoc()">Salva documenti</button>
                    </div>

                  </div>

                  <div class="col-sm-4">
                    <span class="info-text">Salva le tue immagini utilizzando questa funzionalità.</span>
                    <hr>
                    <div class="d-grid mx-auto "> 
                      <button type="submit" class="btn btn-primary" (click)="popupUploadImg()">Salva immagini</button>
                    </div>

                  </div>
              </div>
            </div>
          </div>

           

        </div>
      </div>
  </div>

  
  <app-popup-check-credentials></app-popup-check-credentials>
  <app-popup-upload-data></app-popup-upload-data>
  <app-popup-upload-doc></app-popup-upload-doc>
  <app-popup-upload-images></app-popup-upload-images>
 

  <!-- Transaction table -->
  <div class="container">
    <div class="row">
        <div class="col-md-12 p-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">I Miei Assets</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                      <thead>
                        <tr>
                          <th scope="col" class="border-0 text-uppercase font-medium">#</th>
                          <th scope="col" class="border-0 text-uppercase font-medium">Asset ID</th>
                          <th scope="col" class="border-0 text-uppercase font-medium">Asset Name</th>
                          <th scope="col" class="border-0 text-uppercase font-medium">Asset Unit Name</th>
                          <th scope="col" class="border-0 text-uppercase font-medium">Type</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="this?.numberOfAssets > 0">
                        <tr *ngFor="let asset of this.mainService.user.myAssets; let i = index">
                          <td class="pl-4">1</td>
                          <td>
                              <h5 class="font-medium mb-0">{{asset?.assetID}}</h5>
                              <span class="text-muted">Texas, Unitedd states</span>
                          </td>
                          <td>
                              <span class="text-muted">{{asset?.assetName}}</span><br>
                              <span class="text-muted">Past : teacher</span>
                          </td>
                          <td>
                              <span class="text-muted">{{asset?.unitNameAsset}}</span><br>
                              <span class="text-muted">999 - 444 - 555</span>
                          </td>
                          <td>
                              <span class="text-muted">{{asset?.type}}</span><br>
                              <span class="text-muted">10: 55 AM</span>
                          </td>
                       
                          <td>
                            <button type="button" (click)="getAssetByID(asset)" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-download"></i> </button>
                          </td>
                        </tr>
                       
                      </tbody>
                      <tbody *ngIf="this?.numberOfAssets == 0">
                        <tr>
                          <td>
                              <span class="text-muted">Non sono disponibili asset.</span>
                          </td>
                        </tr>
                      </tbody>
                      
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

 


<!-- CARD INIZIALE DEL PROFILO (VERDE)-->
<!-- 
  <section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px; background-color: #93e2bb;">
            <div class="card-body p-4 text-black">
              <div>
                <h6 class="mb-4">{{this.mainService.user.addr}}</h6>
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <p class="small mb-0"><i class="far fa-clock me-2"></i>my wallet</p>
                  <p class="fw-bold mb-0">{{this.mainService.user.amount}} Algo</p>
                </div>
              </div>
              <div class="d-flex align-items-center mb-4">
                <div class="flex-shrink-0">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
                    alt="Generic placeholder image" class="img-fluid rounded-circle border border-dark border-3"
                    style="width: 70px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex flex-row align-items-center mb-2">
                    <p class="mb-0 me-2">{{this.mainService.user.username}}</p>
                    <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #1B7B2C;">
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                      <li>
                        <i class="fas fa-star fa-xs"></i>
                      </li>
                    </ul>
                  </div>
              </div>
              </div>
            
              <div>
                     
        
                <form class="px-md-2" #formReference="ngForm" (submit)="createTransaction(formReference)">
     
                
                  <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Create transaction</button>
                  </div>
                </form>
    
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  -->