<!-- Footer -->
<footer class="bg-dark-gray text-center text-lg-start bg-dark footer">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">WebAuthN-Fido2 Wallet Algorand</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contatti</h5>
        <ul class="list-unstyled">
          <li>
            Università degli Studi di Salerno, Informatica
          </li>
          <li>
            Alfredo Raimondo - matricola: 0522501088,
          </li>
           
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>
        <ul class="list-unstyled mb-0 social_icon">
          <li>
              <a href="#" class="social_icon">Facebook <i class="fa fa-facebook social_icon"></i></a>
          </li>
          <li>
            <a href="#" class="social_icon">Instagram <i class="fa fa-instagram social_icon"></i></a>
          </li>
          <li>
            <a href="#" class="social_icon">LinkedIn <i class="fa fa-linkedin social_icon"></i></a>
          </li>
          <li>
            <a href="#" class="social_icon">YouTube <i class="fa fa-youtube social_icon"></i></a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Alfredo Raimondo 2023 Tesi Magistrale:
    <a class="text-light" href="https://mdbootstrap.com/">WebAuthN-Fido2 Wallet With Algorand</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->